.btnSignOut {
    background-image: url('../../assets/box-arrow-in-left.svg');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    width: 2rem;
    height: 2rem;
    padding: 0;
}

.btnSignIn {
    background-image: url('../../assets/box-arrow-in-right.svg');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    width: 2rem;
    height: 2rem;
    padding: 0;
}

.btnMenu {
    background-image: url('../../assets/list.svg');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    width: 2rem !important;
    height: 2rem !important;
    padding: 0;
}